<%= form_for(@trick) do |f| %>
  <% if @trick.errors.any? %>
    <p class="mb20">
      <strong class="mb10"><%= pluralize(@trick.errors.count, "error") %> occured:</strong>
      <ul class="list-unstyled">
        <% @trick.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </p>
    <hr>
  <% end %>

  <p class="mb20">
    <strong class="mb10 mr10">Name</strong>
    <%= f.text_field :name, :autofocus => true, :placeholder => "Name" %>
  </p>
  <hr>
  <p class="mb20">
    <strong class="mr10">Difficulty class</strong>
    <%= f.select :difficulty, get_difficulty_classes %>
  </p>
  <hr>
  <p>
    <strong class="mr10">Trick type</strong>
    <%= f.select :trick_type, get_trick_types %>
  </p>
  <hr>
  <p>
    <%= f.submit "Save Changes", :class => "btn btn-base" %>
  </p>
<% end %>