= form_for(@trick) do |f|
  - if @trick.errors.any?
    %p.mb20
      %strong.mb10
        = pluralize(@trick.errors.count, "error")
        occured:
    %ul.list-unstyled
      - @trick.errors.full_messages.each do |msg|
        %li= msg
    %hr/
  %p.mb20
    %strong.mb10.mr10 Name
    = f.text_field :name, :autofocus => true, :placeholder => "Name"
  %hr/
  %p.mb20
    %strong.mr10 Difficulty class
    = f.select :difficulty, get_difficulty_classes
  %hr/
  %p
    %strong.mr10 Trick type
    = f.select :trick_type, get_trick_types
  %hr/
  %p
    = f.submit "Save Changes", :class => "btn btn-base"
