= form_for(@trick) do |f|
  - if @trick.errors.any?
    %p
      %strong
        = pluralize(@trick.errors.count, "error")
        occured:
    %ul.list-unstyled
      - @trick.errors.full_messages.each do |msg|
        %li= msg
    %hr
  .clearfix
    %strong Name
    = f.text_field :name, :autofocus => true, :placeholder => "Name"
  .clearfix
    %strong Difficulty class
    = f.select :difficulty, get_difficulty_classes
  .clearfix
    %strong Trick type
    = f.select :trick_type, get_trick_types
  .clearfix
    = f.submit "Save Changes", :class => "btn btn-primary"
    = link_to "Cancel", @trick, :class => "btn btn-default"
