<%= form_for(@trick) do |f| %>
  <% if @trick.errors.any? %>
    <%= pluralize(@trick.errors.count, "error") %> prevented this trick from being saved.
    Please review your inputs below.
  <% end %>

  <p class="mb20">
    <b class="mb10 mr10">Name</b>
    <%= f.text_field :name, :autofocus => true, :placeholder => "Name" %>
  </p>
  <hr>
  <p class="mb20">
    <b class="mr10">Difficulty class</b>
    <%= f.select :difficulty, @difficulty_classes %>
  </p>
  <hr>
  <p>
    <b class="mr10">Trick type</b>
    <%= f.select :trick_type, @trick_types %>
  </p>
  <hr>
  <p>
    <%= f.submit "Save Changes", :class => "btn btn-base" %>
  </p>
<% end %>