<div class="container">
  <%= semantic_form_for(@trick) do |f| %>
    <% if @trick.errors.any? %>
      <div id="error_explanation" class="mb20">
        <%= pluralize(@trick.errors.count, "error") %> prevented this trick from being saved.
        Please review your inputs below.
      </div>
    <% end %>

    <%= f.inputs do %>
      <%= f.input :name %>
      <%= f.input :difficulty %>
      <%= f.input :trick_type, :as => :select, :collection => @trick_types, :include_blank => "N/A" %>
    <% end %>
    <%= f.actions do %>
      <%= f.action :submit, :button_html => { :class => "btn btn-base btn-block" } %>
    <% end %>
  <% end %>
</div>