<td class="visible-lg"><%= @trick.id %></td>
<td class="sequence"><%= link_to @trick.name, @trick, :class => "show-link" %></td>
<td class="visible-lg"><%= @trick.difficulty %></td>
<td class="visible-lg"><%= @trick.trick_type %></td>
<td class="visible-lg"><%= @trick.combos.length %></td>