#new-trick-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "new-trick-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h2#new-trick-label.modal-title
          New trick
      = form_for(@new_trick) do |f|
        .modal-body
          - if @new_trick.errors.any?
            = pluralize(@new_trick.errors.count, "error")
            prevented this trick from being saved.
            Please review your inputs below.
          .clearfix
            %strong Name
            = f.text_field :name
          .clearfix
            %strong Difficulty class
            = f.select :difficulty, get_difficulty_classes
          .clearfix
            %strong Trick type
            = f.select :trick_type, get_trick_types
        .modal-body
          At levelapp, we take great care of our trick database and try to keep it up to date.
          By suggesting a trick...
          thank you!
        .modal-footer
          = f.submit "Suggest Trick", :class => "btn btn-primary"
