<div class="modal fade" id="new-trick-modal" tabindex="-1" role="dialog" aria-labelledby="new-trick-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="new-trick-label">
          New trick
        </h2>
      </div>
      <%= form_for(@new_trick) do |f| %>
        <div class="modal-body">
          <% if @new_trick.errors.any? %>
            <%= pluralize(@new_trick.errors.count, "error") %> prevented this trick from being saved.
            Please review your inputs below.
          <% end %>

          <p class="mb20">
            <b class="mr10">Name</b>
            <%= f.text_field :name %>
          </p>
          <hr>
          <p class="mb20">
            <b class="mr10">Difficulty class</b>
            <%= f.select :difficulty, @difficulty_classes %>
          </p>
          <hr>
          <p>
            <b class="mr10">Trick type</b>
            <%= f.select :trick_type, @trick_types %>
          </p>
        </div>
        <div class="modal-footer">
          <%= f.submit "Create Trick", :class => "btn btn-base" %>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->