<small><b>Collection</b></small><br>
<small>
  <%= link_to "Database", :collection => "database" %> /
  <%= link_to "User-created", :collection => "user_created" %> /
  <% if tricker_signed_in? %>
    <%= link_to current_tricker.name, :collection => "my_tricks" %> /
  <% end %>
  <%= link_to "All", :collection => "all" %>
</small>
<!-- <p class="mb10"></p>
<small><b>Order by</b></small><br>
<small>
  <%= link_to "Name", :sort => "name" %> /
  <%= link_to "Difficulty", :sort => "difficulty" %> /
  <%= link_to "Type", :sort => "trick_type" %> /
  <%= link_to "Combos", :sort => "combos" %>
</small> -->