<div class="list-row container">
  <div class="col-xs-6 col-sm-6">
    <b><%= link_to @trick.name, @trick, :class => "main-link" %></b><br>
    <small>
      Class <%= @trick.difficulty %> · <%= @trick.trick_type %>
    </small>
  </div>
  <div class="col-xs-3 col-sm-3">
    <b class="combos-count"><%= @trick.combos.count %></b>
    <small>combos</small>
  </div>
  <div class="col-xs-3 col-sm-3">
    <div class="actions pull-right">
      <% if (@trick.tricker.id.equal? current_tricker.id) || current_tricker.try(:admin?) %>
          <!-- <i class="glyphicon glyphicon-list-alt"></i> -->
          <%= link_to '', edit_trick_path(@trick), :class => "glyphicon glyphicon-pencil mr5" %>
          <%= link_to '', @trick, method: :delete, :class => "glyphicon glyphicon-remove",
              data: { confirm: 'Destroying a trick will also remove it from all combos. The ones left with less than two tricks will be destroyed as well. Are you sure you want to continue?'
              } %>
      <% end %>
    </div>
  </div>
</div>
