.container.container-tiny.mb20
  = link_to 'â† Trick DB', tricks_path, :class => "btn btn-camouflaged mrs"
  = link_to 'View', @trick, :class => "btn btn-camouflaged mrs"
  = link_to 'Destroy', @trick, method: :delete, :class => "btn btn-camouflaged mrs",                                                                                                   |
      data: { confirm: 'Destroying a trick will also remove it from all combos. The ones left with less than two tricks will be destroyed as well. Are you sure you want to continue?' |
    }                                                                                                                                                                                  |
.container.container-tiny.mb10.tac
  %h1
    Editing #{@trick.name}
#trick-form.container.container-tiny.card.mb20
  = render 'form'
