<div id="title" class="container">
  <h1>Trick Database</h1>
  <p>
    Discover new ways to move!
  </p>
</div>

<div class="container mbl">
  <table>
    <tr>
      <th>Name</th>
      <th>Difficulty</th>
      <th>Setup</th>
      <th>Landed</th>
      <th colspan="3">Actions</th>
    </tr>

  <% @tricks.each do |trick| %>
    <tr>
      <td><%= trick.name %></td>
      <td><%= trick.difficulty %></td>
      <td><%= trick.setup %></td>
      <td><%= trick.landed %></td>
      <td><%= link_to 'Show', trick %></td>
      <td><%= link_to 'Edit', edit_trick_path(trick) %></td>
      <td><%= link_to 'Destroy', trick, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>
</div>

<div class="container">
  <%= link_to 'Back to Main', {:controller => :welcome, :action => :index}, :class => "btn btn-blue mrs" %>
  <%= link_to 'Add Trick', new_trick_path, :class => "btn btn-green" %>
</div>
<br class="clear">