<div id="title" class="container">
  <h1>Trick Database</h1>
  <p>What will you work on next?</p>
</div>

<div id="actions-top" class="container">
  <%= render 'index_actions' %>
</div>

<% if tricker_signed_in? && !current_tricker.tricks.empty? %>
  <div class="container mbl">
    <h2>My Tricks (<%= current_tricker.tricks.length %>)</h2>
    <table>
      <thead>
        <tr>
          <%= render 'index_table_head' %>
          <th colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @tricks.each do |trick| %>
          <% @trick = trick %>
          <% if trick.tricker_id.equal? current_tricker.id %>
            <tr class="db-row">
              <%= render 'index_table_row' %>
              <%= render 'index_trick_actions' %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<div class="container mbl">
  <h2>Database Tricks</h2>
  <table>
    <thead>
      <tr>
        <%= render 'index_table_head' %>
        <% if tricker_signed_in? && current_tricker.try(:admin?) %>
          <th colspan="3">Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @tricks.each do |trick| %>
        <% @trick = trick %>
        <% next if (tricker_signed_in? && (@trick.tricker_id.equal? current_tricker.id)) %>
        <tr class="db-row">
          <%= render 'index_table_row' %>
          <% if tricker_signed_in? && current_tricker.try(:admin?) %>
            <%= render 'index_trick_actions' %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="actions-bottom" class="container">
  <%= render 'index_actions' %>
</div>
