#tricktionary-entry-wrapper.container
  #tricktionary-header.section-header.clearfix
    .col-sm-6
      %a.section-link{href: tricks_path}
        %h2
          %i.glyphicon.glyphicon-book.section-icon
          %span Tricktionary
  .content-header.clearfix
    .col-sm-6
      %h2= @trick.name
    - if current_tricker_can_edit_trick(@trick)
      .col-sm-6
        .pull-right
          = link_to edit_trick_path(@trick), :class => "btn btn-camouflaged btn-sm" do
            %i.glyphicon.glyphicon-pencil
            %span Edit
          = link_to @trick, method: :delete, :class => "btn btn-camouflaged btn-sm",data: { confirm: 'Destroying a trick will also remove it from all combos. The ones left with less than two tricks will be destroyed as well. Are you sure you want to continue?'} do
            %i.glyphicon.glyphicon-trash
            %span Destroy
  = render partial: 'tricks/entry/details'
  =# render partial: 'tricks/entry/tutorials'
  = render partial: 'tricks/entry/related_combos'

= render 'combos/watch_combo_modal'
