<div class="container mb10">
  <%= link_to '← Tricks', tricks_path, :class => "btn btn-camouflaged mrs" %>
  <% if (@trick.tricker.id.equal? current_tricker.id) || current_tricker.try(:admin?) %>
    <%= link_to ' Edit', edit_trick_path(@trick), :class => "fa fa-pencil btn btn-camouflaged mrs" %>
    <%= link_to ' Destroy', @trick, method: :delete, :class => "fa fa-trash-o btn btn-camouflaged mrs",
        data: { confirm: 'Destroying a trick will also remove it from all combos. The ones left with less than two tricks will be destroyed as well. Are you sure you want to continue?'
    } %>
  <% end %>
</div>

<div class="container card mb20 pb20">
  <h1><%= @trick.name %></h1>
  Class <%= @trick.difficulty %> · <%= @trick.trick_type %>
  <br>
  <% if !@trick.tutorials.empty? %>
    <a class="btn btn-base mt20" data-toggle="modal"
    data-target="#watch-tutorial-modal" data-video-id=<%= @trick.tutorials.first.get_video_id %>>
      <i class="glyphicon glyphicon-film mr5"></i> Watch Tutorial
    </a>
  <% end %>
</div>

<!--div class="container card mb20">
  <div id="exampler" class="col-md-6 tac">
    <iframe width="80%" height="360" src="//www.youtube.com/embed/QjOepEGrO8s?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6">
    <div class="list-head clearfix">
      <h3>Description</h3>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div-->

<div class="container">
  <% if @trick.combos.empty? %>
    <h3 class="mb10">We found no combos with <%= @trick.name %> in Level App. That's really sad...</h3>
    <%= link_to 'Be the first to create one!', '/combos/new', :class => "btn btn-camouflaged mb20" %>
  <% else %>
    <% if !@combos_you_can_do.empty? %>
      <div class="col-md-6">
        <div class="list">
          <div class="list-head">
            <h3>
              <%= pluralize(@combos_you_can_do.count, "combo") %>
              you can do<!--  with <%= @trick.name %> -->
            </h3>
          </div>
          <div class="scroller">
            <% @index = 0 %>
            <% @combos_you_can_do.each do |combo| %>
              <% @combo = combo %>
              <%= render 'combos/combo_row' %>
              <% @index += 1 %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% if !@related_combos.empty? %>
      <div class="col-md-6">
        <div class="list">
          <div class="list-head">
            <h3><%= pluralize(@trick.combos.uniq.length, "related combo") %></h3>
          </div>
          <div class="scroller">
            <% @index = 0 %>
            <% @related_combos.each do |combo| %>
              <% @combo = combo %>
              <%= render 'combos/combo_row' %>
              <% @index += 1 %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= render 'watch_tutorial_modal' %>