<div id="title" class="container">
  <h1><%= @trick.name %></h1>
  <ul id="title-details">
    <li>Class <%= @trick.difficulty %></li>
    <li><%= @trick.trick_type %></li>
  </ul>
</div>

<div class="container">
  <% if @trick.combos.empty? %>
    <h3 class="mbl">We found no combos that use this trick in our database. That's really sad...</h3>
    <% if tricker_signed_in? %>
      <%= link_to 'Be the first to create one!', '/combos/new', :class => "btn btn-green mbl" %>
    <% end %>
  <% else %>
    <h2>Combos using this trick (<%= @trick.combos.length %>)</h2>

    <table>
      <tr>
        <%= render 'combos/index_table_head' %>
        <th>Creator</th>
        <% if current_tricker.try(:admin?) %>
          <th colspan="3">Actions</th>
        <% end %>
      </tr>
      <% @index = 0 %>
      <% @trick.combos.uniq.each do |combo| %>
        <% @combo = combo %>
        <tr class="db-row">
          <%= render 'combos/combo_row' %>
          <td><%= @combo.tricker.name %></td>
          <% if current_tricker.try(:admin?) %>
            <%= render 'combos/index_combo_actions' %>
          <% end %>
        </tr>
        <% @index += 1 %>
      <% end %>
    </table>
  <% end %>
  <br class="clear"/>
</div>

<div id="actions-bottom" class="container">
  <%= link_to 'â† Trick DB', tricks_path, :class => "btn mrs" %>
  <% if tricker_signed_in? && ((@trick.tricker_id.equal? current_tricker.id) || current_tricker.try(:admin?)) %>
    <%= link_to 'Edit', edit_trick_path(@trick), :class => "btn btn-green mrs" %>
    <%= link_to 'Destroy', @trick, method: :delete, :class => "btn btn-blue mrs",
        data: { confirm: 'Destroying a trick will also remove it from all combos. The ones left with less than two tricks will be destroyed as well. Are you sure you want to continue?'
    } %>
  <% end %>
  <p id="notice"><%= notice %></p>
</div>

