#sign-up-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h1.modal-title Tricker Registration
        %p
          Soon you'll be a part of our awesome community!
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        .modal-body.tac
          #error_explanation.mb20
            = devise_error_messages!
          .mb20
            = f.label :name
            %br/
            = f.text_field :name, :autofocus => true
          .mb20
            = f.label :email
            %br/
            = f.text_field :email
          .mb20
            = f.label :password
            %br/
            = f.password_field :password
          .mb20
            = f.label :password_confirmation
            %br/
            = f.password_field :password_confirmation
          /
            <div class="mb20"><haml:loud> f.label :sampler </haml:loud><br />
            <haml:loud> f.text_field :sampler </haml:loud></div>
            
            <div class="mb20"><haml:loud> f.label :youtube </haml:loud><br />
            <haml:loud> f.text_field :youtube </haml:loud></div>
            
            <div class="mb20"><haml:loud> f.label :facebook </haml:loud><br />
            <haml:loud> f.text_field :facebook </haml:loud></div>
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          = f.submit "Create my account", :class => "btn btn-primary"
    / /.modal-content
  / /.modal-dialog
/ /.modal
