<div class="container container-mini tac">
  <h1>Editing My Account <!--%= resource_name.to_s.humanize %--></h1>
</div>

<div class="container container-tiny card pt20">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <div id="devise-errors" class="mb20">
        <%= devise_error_messages! %>
    </div>

    <div class="mb20">
      <%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="mb20">
        Currently waiting confirmation for: <%= resource.unconfirmed_email %>
      </div>
    <% end %>

    <div class="mb20">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, :autocomplete => "off" %>
    </div>

    <div class="mb20">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="mb20">
      <%= f.label :current_password %><br>
      <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password %>
    </div>

    <div class="mb20">
      <%= f.submit "Save Changes", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>
