<div class="container container-tiny tac">
	<h1>Tricker Registration</h1>
  <p>
		Soon you'll be a part of our awesome community!
	</p>
</div>
<div class="container container-tiny card tac">
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		<div id="error_explanation" class="mb20">
	    	<%= devise_error_messages! %>
	  </div>

	  <div class="mb10">
	  	<%= f.text_field :name, :autofocus => true, :placeholder => "Name" %>
	  </div>
	  <div class="mb10">
	  	<%= f.text_field :email, :placeholder => "Email" %>
		</div>
	  <div class="mb10">
	  	<%= f.password_field :password, :placeholder => "Password" %>
	  </div>
	  <div class="mb20">
	  	<%= f.password_field :password_confirmation, :placeholder => "Confirm password"  %>
	  </div>
	  <!-- <div class="mb20"><%= f.label :sampler %><br />
	  <%= f.text_field :sampler %></div>

	  <div class="mb20"><%= f.label :youtube %><br />
	  <%= f.text_field :youtube %></div>

	  <div class="mb20"><%= f.label :facebook %><br />
	  <%= f.text_field :facebook %></div>
		-->
		<div class="mb20">
			<%= f.submit "Create my account", :class => "btn btn-base btn-lg" %>
		</div>
	<% end %>
</div>