#tricker-sign-up
  .logo.container
    %img{src:"http://tricking.gr/images/logo2-.png"}
  .container
    %h3 Create your Level App account
  #sign-up-inputs
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      = f.text_field :name, :autofocus => true, :placeholder => "Name", :class => ""
      = f.text_field :email, :placeholder => "Email", :class => ""
      = f.password_field :password, :placeholder => "Password", :class => ""
      = f.password_field :password_confirmation, :placeholder => "Confirm password", :class => "large"
      = f.submit "Create my account", :class => "btn btn-primary btn-block", :id => "sign-up-btn"
  .links
    = link_to "Already have an account? Sign in", new_tricker_session_path
