<div id="title" class="container">
	<h1>Resend unlock instructions</h1>
</div>

<div class="container">
	<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div><%= f.label :email %><br />
	  <%= f.email_field :email, :autofocus => true %></div>

	  <div><%= f.submit "Resend unlock instructions", :class => "btn btn-blue"  %></div>
	<% end %>
</div>

<br class="clear">

<div id="actions-bottom" class="container">
	<%= render "devise/shared/links" %>
</div>
