= semantic_form_for(@tricking_style) do |f|
  - if @tricking_style.errors.any?
    #error_explanation
      = pluralize(@tricking_style.errors.count, "error")
      prohibited this tricking_style from being saved:
      %ul
        - @tricking_style.errors.full_messages.each do |msg|
          %li= msg
  = f.inputs do
    = f.input :tricks, :as => :check_boxes, :collection => Trick.order("name ASC").all
  = f.actions do
    = f.action :submit, :label => "Save Changes" , :button_html => { :class => "btn btn-primary" }
    = link_to 'Cancel', @tricking_style, :class => "btn btn-default"
