<%= semantic_form_for(@tricking_style) do |f| %>
  <% if @tricking_style.errors.any? %>
    <div id="error_explanation">
      <%= pluralize(@tricking_style.errors.count, "error") %> prohibited this tricking_style from being saved:
      <ul>
      <% @tricking_style.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.inputs do %>
    <!-- <% if @tricking_style.name != "My Trick List" %>
      <%= f.input :name %>
    <% else %>
      <%= f.input :name, :value => @tricking_style.name, :input_html => { :readonly => true } %>
    <% end %>
    <%= f.input :description %>-->
    <!--b>Tricks</b>
    <br class="clearfix"><br-->
    <%= f.input :tricks, :as => :check_boxes, :collection => Trick.order("name ASC").all %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, :label => "Save Changes" , :button_html => { :class => "btn btn-base" } %>
  <% end %>
<% end %>