<div id="title" class="container burgundy">
  <h1>Editing "<%= @tricking_style.name %>"</h1>
</div>

<div id="actions-top" class="container">
  <%= link_to '← My Style', @tricking_style, :class => "btn mrs" %>
  <%= link_to '← Dashboard', '/dashboard', :class => "btn btn-blue mrs" %>
  <p id="notice"><%= notice %></p>
  <p id="notice" class="red"><%= alert %></p>
</div>

<%= render 'form' %>

<br class="clear">
