<h1>Listing tricking_styles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tricking_styles.each do |tricking_style| %>
  <tr>
    <td><%= tricking_style.name %></td>
    <td><%= tricking_style.description %></td>
    <td><%= link_to 'Show', tricking_style %></td>
    <td><%= link_to 'Edit', edit_tricking_style_path(tricking_style) %></td>
    <td><%= link_to 'Destroy', tricking_style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tricking style', new_tricking_style_path %>
