<div id="title" class="container burgundy">
  <h1><%= @tricking_style.name %></h1>
  <ul id="title-details">
    <li>Created by <%= Tricker.find(@tricking_style.tricker_id).name %></li>
  </ul>
</div>

<div id="actions-top" class="container">
  <%= render 'show_actions' %>
</div>

<div class="container mbl">
  <h2>Description</h2>
  <p><%= @tricking_style.description %></p>
  <br>
  <h2>Tricks</h2>
  <ul class="trick-list">
    <% @tricking_style.tricks.order(:name).each do |t| %>
      <li><%= t.name %></li>
    <% end %>
  </ul>
</div>

<div id="actions-bottom" class="container">
  <%= render 'show_actions' %>
</div>