#tricking-style-wrapper.container
  .section-header.clearfix
    .col-sm-12
      %a.section-link{href: tricking_style_path(@tricking_style)}
        %h2
          %i.glyphicon.glyphicon-book.section-icon
          %span= @tricking_style.name
  - if current_tricker_can_edit_style(@tricking_style)
    .content-header.clearfix
      .col-sm-12
        = link_to edit_tricking_style_path(@tricking_style), :class => "btn btn-default pull-right" do
          %i.glyphicon.glyphicon-pencil
          %span Edit
  = render 'shared/flash_messages'
  #tricking-style.card.container
    .trick-list.clearfix
      - @tricking_style.tricks.order(:name).each do |t|
        .col-sm-4
          = t.name
      - if @tricking_style.tricks.count == 0
        %h3 You haven't created your trick list yet.
        %p Doing so will enable you to get personal combo recommendations, generate random combos for your sessions, and more fun stuff!
        = link_to 'Create it now!', edit_tricking_style_path(@tricking_style), :class => "btn btn-primary"
