#tricker-sign-in
  = render partial: 'layouts/logo'
  .container
    %h3 Forgot your password?
  #sign-in-inputs
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      %p
        = devise_error_messages!
      %p
        Enter your email address and we’ll send you instructions on how to reset your password.
      = f.email_field :email, :autofocus => true, :placeholder => "Your email address", :class => "form-control"
      = f.submit "Reset Password", :class => "btn btn-primary btn-block"
    .devise-links
      = render "devise/shared/links"