<div id="title" class="light-blue">
  <h1>My Dashboard</h1>
  <p>Welcome, <%= current_tricker.name %>. Thank you so much for being part of our testing phase!</p>
  <% if current_tricker.tricking_style.nil? %>
      Level App is much more fun when tailored to your own needs.
      Creating your Trick List will allow you to generate combos that you have great chances of landing,
      as well as help you filter through the near infinite combos in our database.<br><br>
      <a href='/tricking_styles/new' class="btn btn-transparent">Create it now</a>
  <% end %>
</div>
<div class="container tac">
  <h2>What will you play with today?</h2>
</div>
<div id="dashboard" class="container tac">
  <div class="container">
    <div id="dashboard-panel" class="red panel-left">
      <a href="/tricks"><h1 class="red">Tricks</h1></a>
      <ul>
        <li><%= link_to "View database", tricks_path %></li>
        <li><%= link_to "Create your own", new_trick_path %></li>
      </ul>
    </div>
    <div id="dashboard-panel" class="mustard panel-right">
        <a href="/combos"><h1 class="mustard">Combos</h1></a>
        <ul>
          <!--li--><!--%= link_to "Explore our database", explore_path %--><!--/li-->
          <li><%= link_to "View my combos", combos_path %></li>
          <li><%= link_to "Create a new one", new_combo_path %></li>
          <li><%= link_to "Generate a random combo!", generate_random_path %></li>
          <li><%= link_to "Generate a customized combo", generate_options_path %></li>
        </ul>
      </a>
    </div>
  </div>
  <div class="container">
    <div id="dashboard-panel" class="burgundy panel-left">
        <a href="#"><h1 class="burgundy">My Trick List<!--Tricking Style--></h1></a>
        <ul>
          <% if !(current_tricker.tricking_style.equal? nil) %>
            <li><%= link_to "View my trick list", current_tricker.tricking_style %></li>
            <li><%= link_to "Edit my trick list", edit_tricking_style_path(current_tricker.tricking_style) %></li>
          <% else %>
            <li><%= link_to "Create your own!", new_tricking_style_path %></li>
          <% end %>
        </ul>
      </a>
    </div>
  </div>
  <br class="clear">
</div>