<div class="container container-mini tac mbl">
    <h1>My Dashboard</h1>
    <p>Welcome, <%= current_tricker.name %>. Thank you so much for being part of our testing phase!</p>
    <% if current_tricker.tricking_style.tricks.empty? %>
        Level App is much more fun when tailored to your own needs.
        Creating your Trick List will allow you to generate combos that you have great chances of landing,
        as well as help you filter through the near infinite combos in our database.<br><br>
        <%= link_to "Create it now", edit_tricking_style_path(current_tricker.tricking_style), :class => "btn btn-transparent" %>
    <% end %>
</div>
<div class="container container-mini tac">
  <div class="col-sm-4 mbl">
    <h3><%= link_to "Trick Database", tricks_path %></h3>
  </div>
  <div class="col-sm-4 mbl">
    <h3><%= link_to "My Combos", combos_path %></h3>
  </div>
  <div class="col-sm-4 mbl">
    <h3><%= link_to "My Trick List", current_tricker.tricking_style %></h3>
  </div>
</div>