<div id="title" class="container tac">
	<h1>Tricking.GR's Level App</h1>
  <ul id="title-details">
    <li><%= Tricker.all.length %> trickers</li>
    <li><%= Trick.all.length %> tricks</li>
    <li><%= Combo.all.length %> combos</li>
  </ul>
</div>
<div id="actions-top" class="container tac">
  <%= render 'guest_actions' %>
</div>

<div class="container tac mbl">
  <h2>How does it work?</h2>
  <p>
    Level App was designed to help you make the most of your tricking skills,<br>
    by providing tools that promote creative thinking.
  </p>
  <br>
  <h2>With Level App you can:</h2>
  <ul id="selling-points" class="mbl">
    <li>Explore an up-to-date trick list in our database<!--tricktionary--></li>
    <li>Create your own tricks and use them in your combos</li>
    <li>Create your own unique combos<!--, and share them with your friends--></li>
    <li>Get inspired by our random generator</li>
    <li>
        Generate combos for your tricking style with parameters
        like combo length, tricks involved, and more
    </li>
    <li>
        Easily organize all the above combos into lists
        (defaults include "favorites", "working on", and "landed")
    </li>
    <!--li>Set goals and watch yourself progress over time</li-->
  </ul>
  <br>
  <% if !tricker_signed_in? %>
    <h2>What are you waiting for?</h2>
    <p><%= link_to "Join the community today!", new_tricker_registration_path, :class => "btn btn-blue mrs" %></p>
    <br>
  <% end %>
</div>

<!--div id="actions-bottom" class="container tac">
  <%= render 'guest_actions' %>
</div-->