<div id="title" class="container tac">
	<h1>Tricking.GR's Level App</h1>
  <ul id="title-details">
    <li><%= Tricker.all.length %> trickers</li>
    <li><%= Trick.all.length %> tricks</li>
    <li><%= Combo.all.length %> combos</li>
  </ul>
</div>
<div id="actions-top" class="container tac">
  <%= render 'guest_actions' %>
</div>

<!-- <div class="container tac mbl">
  Hello and welcome! Level App was designed to help you make the most of your tricking skills.
</div>

<div id="actions-bottom" class="container tac">
  <%= link_to "Login", new_tricker_session_path, :class => "btn btn-green mrs" %>
  <span class="mrs">or</span>
  <%= link_to "Create Your Account", new_tricker_registration_path, :class => "btn btn-blue mrs" %>
  <p id="notice"><%= alert %></p>
</div> -->