#combos-wrapper.container
  .section-header.clearfix
    .col-sm-4
      %h2= @tricker.name
    .col-sm-4
      Showing all combos.        
  #combos-list
    = paginate @combos
    .list
      - if !@combos.empty?
        - @combos.each do |combo|
          = render partial: 'combos/combo_row', locals: {combo: combo}
      - else
        .list-row
          %h3
            #{@tricker.name} has not created any combos yet.
    = paginate @combos
= render 'combos/watch_combo_modal'
