#tricker-sign-in
  = render partial: 'layouts/logo'
  .container
    %h3 Sign in with your Level App account
  = render 'shared/flash_messages'
  #sign-in-inputs
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      = f.email_field :email, :autofocus => true, :placeholder => "Email", :class => "form-control"
      = f.password_field :password, :placeholder => "Password", :class => "form-control"
      - if devise_mapping.rememberable?
        .checkbox
          = f.check_box :remember_me
          = f.label :remember_me
      = f.submit "Show me the combos", :class => "btn btn-primary btn-block", :id => "sign-in-btn"
  .links
    = link_to "Forgot your password?", new_password_path(resource_name)
    %br
    = link_to "Create an account", new_tricker_registration_path
