.container.container-tiny.tac
  %h1 Tricker Login
.container.container-tiny.card.tac.mb50
  %p.mt20= notice
  %p.mt20= alert
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    .mb20
      = f.email_field :email, :autofocus => true, :placeholder => "Email", :class => "large"
    .mb20
      = f.password_field :password, :placeholder => "Password", :class => "large"
    .mb20
      = f.submit "Login", :class => "btn btn-base btn-lg"
      - if devise_mapping.rememberable?
        / %= f.check_box :remember_me %
        / %= f.label :remember_me %
      %br/
    .mb20
      = render "devise/shared/links"
