- if !@list.nil?
  - @curr_list_name = @list.name
  - @num_combos = @list.combos.length
- else
  - @curr_list_name = "All of them"
  - @num_combos = current_tricker.combos.length
%ul#combo-lists
  - if !@curr_list_name.eql?"All of them"
    %li
      %a{:href => my_combos_path}
        All of them
        %span.pull-right= current_tricker.combos.length
  - else
    %li
      %b
        = @curr_list_name
        %span.pull-right= @num_combos
  - current_tricker.lists.each do |l|
    - if l.name.eql?@curr_list_name
      %li
        %b
          = @curr_list_name
          %span.pull-right= @num_combos
    - else
      %li
        %a{:href => my_combos_path(:list => l.id )}
          = l.name
          %span.pull-right= l.combos.length
