<div class="list-row container">
  <div>
    <% unless combo.execution.nil? %>
      <a href="#" class="main-link"
        data-toggle="modal"
        data-target="#watch-combo-modal"
        data-video-id="<%= combo.execution.get_video_id %>"
        data-start-time="<%= combo.execution.start_time.to_s %>"
        data-end-time="<%= combo.execution.end_time.to_s %>"
      >
        <span class="combo-sequence"><%= combo.sequence %> <i class="fa fa-youtube-play"></i></span>
      </a>
    <% else %>
      <span class="combo-sequence no-link"><%= combo.sequence %></span>
    <% end %>
    <span class="actions pull-right">
      <% @combo = combo %>
      <% if current_tricker_can_edit_combo %>
        <%= link_to "", edit_combo_path(combo), :class => "fa fa-cog btn btn-xs btn-camouflaged" %>
        <%= link_to "", combo, method: :delete, data: { confirm: 'Are you sure?' }, :class => "fa fa-trash-o btn btn-xs btn-camouflaged" %>
      <% end %>
    </span>
  </div>
  <div class="clearfix"></div>
  <div>
    <small>
      <%= combo.no_tricks %>-trick combo ·
      by <%= link_to combo.tricker.name, combo.tricker %>
      <span class="pull-right"><%= time_ago_in_words(combo.updated_at) %> ago</span>
    </small>
  </div>
</div>