<div class="combo-row container">
  <div class="col-xs-1">
    <%= @combo.id %>
  </div>
  <div class="col-sm-8">
    <a href="/combos/<%= @combo.id.to_s %>">
      <ul class="combo-sequence">
        <% @tricks = @tricks_names[@index] if !@tricks_names[@index].nil? %>
        <%- @tricks.each do |trick| %>
          <li><%= trick %></li>
        <%-end-%>
      </ul>
    </a>
  </div>
  <div class="col-sm-3">
    <span class="pull-right">
      <%= link_to 'V', edit_combo_path(@combo) %> · 
      <%= link_to 'X', @combo, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
  </div>
  <div class="clearfix"></div>
  <div class="col-sm-12 combo-details">
    <%= @combo.no_tricks %>-trick combo · <%= time_ago_in_words(@combo.created_at) %> ago · <%= link_to @combo.tricker.name, "#" %>
  </div>
</div>