<div class="list-row container">
  <div>
    <a href="#"> <!--"/combos/<%= @combo.id.to_s %>"-->
      <ul class="combo-sequence">
        <% @tricks = @tricks_names[@index] if !@tricks_names[@index].nil? %>
        <%- @tricks.each do |trick| %>
          <li><%= trick %></li>
        <%-end-%>
      </ul>
    </a>
    <span class="actions pull-right">
      <% if tricker_signed_in? %>
        <%= link_to "", edit_combo_path(@combo), :class => "fa fa-cog mr5" %>
        <%= link_to "", @combo, method: :delete, data: { confirm: 'Are you sure?' }, :class => "fa fa-trash-o" %>
      <% end %>
    </span>
  </div>
  <div class="clearfix"></div>
  <div>
    <small>
      <%= @combo.no_tricks %>-trick combo ·
      by <%= link_to @combo.tricker.name, "#" %>
      <span class="pull-right"><%= time_ago_in_words(@combo.created_at) %> ago</span>
    </small>
  </div>
</div>