.list-row{"data-combo-id" => combo.id}
  .combo-top.clearfix
    - unless combo.execution.nil?
      %a.main-link{"data-end-time" => combo.execution.end_time.to_s, "data-start-time" => combo.execution.start_time.to_s, "data-target" => "#watch-combo-modal", "data-toggle" => "modal", "data-video-id" => combo.execution.uid, :href => "#"}
        .combo-sequence= combo.sequence
        -#
          .video-preview
            %img{src: "https://img.youtube.com/vi/#{combo.execution.uid}/1.jpg"}
    - else
      .combo-sequence.no-link= combo.sequence
  .combo-details
    %small
      by #{link_to combo.tricker.name, combo.tricker} · #{combo_date(combo)}
    %span.actions.pull-right
      - if current_tricker_can_edit_combo(combo)
        = link_to "", '', :class => "edit-combo glyphicon glyphicon-cog btn btn-sm btn-camouflaged", data: {id: combo.id}
        = link_to "", combo, method: :delete, data: { confirm: 'Are you sure?' }, :class => "glyphicon glyphicon-trash btn btn-sm btn-camouflaged"
