#combo-generator-wrapper
  .modal-title
    %h2 Create your combo
  .modal-body
    .clearfix
      alalalalalala!!!!
    -#
      = label_tag :no_tricks, "Combo length", :class => "mr10"
      = number_field_tag :no_tricks, 5, in: 2..10
      tricks
    -#
      = label_tag :no_tricks, "Use which tricks?"
      %br/
      = radio_button_tag :filter, "database", true
      = label_tag :filter_database, "All of them", :class => "label-small"
      %br/
      = radio_button_tag :filter, "list"
      = label_tag :filter_list, "Only what I can do", :class => "label-small"
