= semantic_nested_form_for(@combo) do |f|
  = f.inputs do
    / Every combo must have at least 2 tricks, so these are not removable.
    = f.input :tricks, :collection => Trick.order(:name), :as => :select, :input_html => { :multiple => false }
    = f.input :tricks, :collection => Trick.order(:name), :as => :select, :input_html => { :multiple => false }
    = f.link_to_add " trick", :tricks, :class => "glyphicon glyphicon-plus"
    / But every extra trick that's added dynamically is removable.
    = f.fields_for :tricks do |trick_form|
      = f.input :tricks, :collection => Trick.order(:name), :as => :select, :input_html => { :multiple => false }
      = trick_form.link_to_remove "", :class => "glyphicon glyphicon-remove pull-left"
    %hr.clearfix/
    %b Add to lists
    = f.input :lists, :collection => current_tricker.lists, :as => :check_boxes
    %hr.clearfix/
    %b Video Details
    = f.semantic_fields_for :execution do |video|
      - video.inputs :url, :start_time, :end_time
  = f.actions do
    %hr.clearfix/
    = f.action :submit, :button_html => { :class => "btn btn-base btn-block" }
