<div class="container">
  <%= semantic_nested_form_for(@combo) do |f| %>
    <% if @combo.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@combo.errors.count, "error") %> prohibited this combo from being saved:</h2>
        <ul>
          <% @combo.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.inputs do %>
      <!-- Print all tricks, along with a "remove" button. -->
      <% @index = 0 %>
      <%= f.fields_for :tricks do |trick_form| %>
        <%
          # Make sure that each trick is the default in the selection box
          @default = @tricks[@index].id if !@tricks[@index].nil?
          @index += 1
        %>
        <%= f.input :tricks, :as => :select, :collection => Trick.order(:name), :selected => @default, :input_html => { :multiple => false } %>
        <%= trick_form.link_to_remove "X" %>
      <% end %>
      <%= f.link_to_add "add trick", :tricks, :class => "btn btn-green" %>

    <% end %>
    <%= f.actions do %>
      <%= f.action :submit, :button_html => { :class => "btn btn-blue" } %>
    <% end %>
  <% end %>
</div>