<% if !@list.nil? %>
  <% @curr_list_name = @list.name %>
  <% @num_combos = @list.combos.length %>
<% else %>
  <% @curr_list_name = "All" %>
  <% @num_combos = current_tricker.combos.length %>
<% end %>

<!-- make form -->
<div class="list-group">
  <% if !@curr_list_name.eql?"All" %>
    <a class="list-group-item" href="<%= combos_path%>">
      All
      <span class="badge"><%= current_tricker.combos.length %></span>
    </a>
  <% else %>
    <a class="list-group-item">
      <b><%= @curr_list_name %></b>
      <span class="badge"><%= @num_combos %></span>
    </a>
  <% end %>
  <% current_tricker.lists.each do |l| %>
    <% if l.name.eql?@curr_list_name %>
      <a class="list-group-item">
        <b><%= @curr_list_name %></b>
        <span class="badge"><%= @num_combos %></span>
      </a>
    <% else %>
      <a class="list-group-item" href="<%= combos_path(:list => l.id ) %>">
        <%= l.name %>
        <span class="badge"><%= l.combos.length %></span>
      </a>
    <% end %>
  <% end %>
</div>