<% if tricker_signed_in? %>
  <%= link_to 'â† Dashboard', dashboard_path, :class => "btn mrs" %>
	<%= link_to 'Create Combo', new_combo_path, :class => "btn btn-green mrs" %>
	<%= link_to 'Generate Random', generate_random_path, :class => "btn btn-blue mrs" %>
  <%= link_to 'Generate Custom', generate_options_path, :class => "btn btn-green mrs" %>
<% else %>
  <%= render 'welcome/guest_actions'%>
<% end %>
<p id="notice"><%= notice %></p>