<div class="modal fade" id="new-combo-modal" tabindex="-1" role="dialog" aria-labelledby="new-combo-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="new-combo-label">
          New combo
        </h3>
      </div>
      <%= semantic_nested_form_for(@new_combo) do |f| %>
        <div id="combo-form" class="modal-body">
          <%= f.inputs do %>
            <!-- Every combo must have at least 2 tricks, so these are not removable. -->
            <%= f.input :tricks, :collection => Trick.order(:name),
                :as => :select, :input_html => { :multiple => false } %>
            <%= f.input :tricks, :collection => Trick.order(:name),
                :as => :select, :input_html => { :multiple => false } %>
            <%= f.link_to_add " trick", :tricks, :class => "fa fa-plus" %>

            <!-- But every extra trick that's added dynamically is removable. -->
            <%= f.fields_for :tricks do |trick_form| %>
              <%= f.input :tricks, :collection => Trick.order(:name),
                  :as => :select, :input_html => { :multiple => false } %>
              <%= trick_form.link_to_remove "", :class => "glyphicon glyphicon-remove pull-left" %>
            <% end %>

            <hr class="clearfix">
            <b>Add to list</b>
            <%= f.input :lists, :collection => current_tricker.lists, :as => :check_boxes %>
          <% end %>
        </div>
        <div class="modal-footer">
          <%= f.actions do %>
              <%= f.action :submit, :label => "Save combo",
                  :button_html => { :class => "btn btn-base" } %>
            <% end %>
          <% end %> 
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->