<div class="container container-tiny">
  <%= link_to 'â† My Combos', my_combos_path, :class => "btn btn-camouflaged mr10" %>
  <%= link_to 'Destroy', @combo, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-camouflaged mr10" %>
</div>
<div class="container container-tiny tac">
  <h1>Editing Combo #<%= @combo.id%></h1>
  <%= render 'shared/flash_messages' %>
</div>
<div id="combo-form" class="container container-tiny card mb20">
  <%= render 'form_edit' %>
</div>