<div id="title" class="container mustard">
  <h1>Combo Database</h1>
  <p>Unleash your creativity.</p>
</div>

<div id="actions-top" class="container">
  <%= render 'index_actions' %>
</div>

<div class="container mbl">
  <table>
    <tr>
      <th class="id">Id <%= link_to "↓", combos_path(sort: "id") %></th>
      <th class="no_tricks">Tricks <%= link_to "↓", combos_path(sort: "no_tricks") %></th>
      <th>Sequence</th>
      <th>Creator</th>
      <% if tricker_signed_in? %>
        <th colspan="3">Actions</th>
      <% end %>
    </tr>

  <% @combos.each do |combo| %>
    <tr class="db-row">
      <td><%= combo.id %></td>
      <td><%= combo.no_tricks %></td>
      <td>
        <ul class="combo-list">
        <% combo.tricks.each do |t| %>
          <li><%= t.name %></li>
        <% end %>
        </ul>
      </td>
      <td><%= Tricker.find(combo.tricker_id).name %></td>
      <% if tricker_signed_in? %>
        <% if combo.tricker_id == current_tricker.id || current_tricker.try(:admin?) %>
          <td><%= link_to 'Show', combo %></td>
          <td><%= link_to 'Edit', edit_combo_path(combo) %></td>
          <td><%= link_to 'Destroy', combo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td colspan="3"></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  </table>
</div>

<div id="actions-bottom" class="container">
  <%= render 'index_actions' %>
</div>

