<div id="title" class="container mustard">
  <h1>Combo Database</h1>
  <p>Unleash your creativity.</p>
</div>

<div id="actions-top" class="container">
  <%= render 'index_actions' %>
</div>

<!-- Print all combos from the current tricker -->
<% @tricker_num_combos = 0 %>
<% if tricker_signed_in? && !current_tricker.combos.empty? %>
  <% @tricker_num_combos = current_tricker.combos.length %>
  <div id="my-combos" class="container mbl">
    <h2>My Combos (<%= @tricker_num_combos %>)</h2>
    <table>
      <tr>
        <%= render 'index_table_head' %>
        <th colspan="3">Actions</th>
      </tr>
      <% @index = 0 %>
      <% @combos.each do |combo| %>
        <% @combo = combo %>
        <% if @combo.tricker_id.equal? current_tricker.id %>
          <tr class="db-row">
            <%= render 'index_table_row' %>
            <%= render 'index_combo_actions' %>
          </tr>
        <% end %>
        <% @index += 1 %>
      <% end %>
    </table>
  </div>
<% end %>

<!-- Print all combos from the rest of the trickers -->
<% if @combos.length > @tricker_num_combos %>
  <div id="db-combos" class="container mbl">
    <h2>Database Combos</h2>
    <table>
      <tr>
        <%= render 'index_table_head' %>
        <th>Creator</th>
        <% if current_tricker.try(:admin?) %>
          <th colspan="3">Actions</th>
        <% end %>
      </tr>
      <% @index = 0 %>
      <% @combos.each do |combo| %>
        <% @combo = combo %>
        <%
          if (tricker_signed_in? && (@combo.tricker_id.equal? current_tricker.id))
            @index += 1
            next
          end
        %>
        <tr class="db-row">
          <%= render 'index_table_row' %>
          <td><%= Tricker.find(@combo.tricker_id).name %></td>
          <% if current_tricker.try(:admin?) %>
            <%= render 'index_combo_actions' %>
          <% end %>
        </tr>
        <% @index += 1 %>
      <% end %>
    </table>
  </div>
<% end %>

<div id="actions-bottom" class="container">
  <%= render 'index_actions' %>
</div>