<div id="title" class="container mustard">
  <h1>My Combos</h1>
  <p>Get organized.</p>
</div>

<div id="actions-top" class="container">
  <%= render 'index_actions' %>
</div>

<%= render 'index_lists' %>

<!-- Print all combos from the current tricker -->
<div id="my-combos" class="container mbl">
  <% if !@combos.empty? %>  
      <!--h3--><!--%= paginate @combos %--><!--/h3-->
      <table>
        <tr>
          <%= render 'index_table_head' %>
        </tr>
        <% @index = 0 %>
        <% @combos.each do |combo| %>
          <% @combo = combo %>
          <tr class="db-row">
            <%= render 'index_table_row' %>
            <%= render 'index_combo_actions' %>
          </tr>
          <% @index += 1 %>
        <% end %>
      </table>
  <% else %>
    <p>
      There are currently no combos in this list.
    </p>
  <% end %>
</div>

<div id="actions-bottom" class="container">
  <%= render 'index_actions' %>
</div>