<div class="container">
  <div id="combos-affix" class="col-sm-4 col-md-3">
    <div data-spy="affix" data-offset-top="60" data-offset-bottom="250">
      <h2 id="toolbar-title">My Combos</h2>
      <div class="panel panel-default">
        <%= render 'index_lists' %>
      </div>
      <div class="container">
        <a class="btn btn-camouflaged" data-toggle="modal" data-target="#new-combo-modal">
          <i class="fa fa-plus"></i> New Combo
        </a>
        <a class="btn btn-camouflaged" data-toggle="modal" data-target="#custom-combo-modal">
          <i class="glyphicon glyphicon-cog"></i> Generate Custom
        </a>
        <a class="btn btn-camouflaged" href="<%= generate_random_path %>">
          <i class="glyphicon glyphicon-random"></i> Generate Random
        </a>
      </div>
    </div>
  </div>

  <div class="col-sm-8 col-md-9">
    <% if flash.any? && !flash[:notice].empty? %>
      <div id="notice" class="alert alert-success"><%= notice %></div>
    <% elsif flash.any? && !flash[:alert].empty? %>
      <div id="notice" class="alert alert-error"><%= alert %></div>
    <% end %>
    <!-- Print all combos from the current tricker -->
    <div class="combo-list container">
      <% if !@combos.empty? %>
        <% @index = 0 %>
        <% @combos.each do |combo| %>
          <% @combo = combo %>
          <%= render 'combo_row' %>
          <% @index += 1 %>
        <% end %>
      <% else %>
        <div class="combo-row">
          <div class="container empty-list-head">
            <h3>There are currently no combos in this list.</h3>
          </div>
        </div>
      <% end %>
    </div>
  </div>  
</div>

<%= render 'custom_combo_modal' %>
<%= render 'new_combo_modal' %>