<div id="title" class="container">
  <h1>Combo Database</h1>
</div>

<div class="container">
  <table>
    <tr>
      <th>Id</th>
      <th>Sequence</th>
      <th colspan="3">Actions</th>
    </tr>

  <% @combos.each do |combo| %>
    <tr>
      <td><%= combo.id %></td>
      <td>
        <ul class="combo-list">
        <% combo.tricks.each do |t| %>
          <li><%= t.name %></li>
        <% end %>
        </ul>
      </td>
      <td><%= link_to 'Show', combo %></td>
      <td><%= link_to 'Edit', edit_combo_path(combo) %></td>
      <td><%= link_to 'Destroy', combo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>
</div>

<div class="container">
  <%= link_to 'Back to Main', {:controller => :welcome, :action => :index}, :class => "btn mrs" %>
  <%= link_to 'Add Combo', new_combo_path, :class => "btn btn-green" %>
</div>
<br class="clear">
