#combos-wrapper.container
  .section-header.clearfix
    .col-sm-4
      %h2 Combo Feed
    .col-sm-4.pull-right
      = form_tag combo_search_path, :method => 'get' do
        %label
          = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Find combos...'
        = submit_tag 'Search', class: 'btn btn-primary'
  #combos-list.clearfix
    =# render 'shared/flash_messages'
    = will_paginate @combos, renderer: BootstrapPagination::Rails
    .list
      - unless @combos.empty?
        - @combos.each do |combo|
          = render partial: 'combo_row', locals: {combo: combo}
      - else
        .list-row
          %h3 Could not find any combos that match these parameters.
= render 'watch_combo_modal'
