<div id="title" class="container">
	<ul class="combo-list combo-lg">
	  <%- @combo.tricks.each do |trick| %>
	  	<li><%= trick.name %></li>
	  <%-end-%>
	</ul>
	<ul id="title-details">
		<li>Combo #<%= @combo.id %></li>
		<li><%= @combo.no_tricks %> tricks</li>
	</ul>
</div>

<div id="actions-bottom" class="container">
	<%= link_to 'Back', combos_path, :class => "btn mrs"%>
	<%= link_to 'Edit Combo', edit_combo_path(@combo), :class => "btn btn-green mrs" %>
	<p id="notice"><%= notice %></p>
</div>