<div id="title" class="container mustard">
	<ul class="combo-list combo-lg">
	  <%- @tricks.each do |trick| %>
	  	<li><%= trick.name %></li>
	  <%-end-%>
	</ul>
	<ul id="title-details">
		<li>Combo #<%= @combo.id %></li>
		<li><%= @combo.no_tricks %> tricks</li>
		<li>Created by <%= Tricker.find(@combo.tricker_id).name %></li>
	</ul>
</div>

<div id="actions-bottom" class="container">
	<%= link_to 'â† Combo DB', combos_path, :class => "btn mrs"%>
	<% if tricker_signed_in? && ((@combo.tricker_id.equal? current_tricker.id) || current_tricker.try(:admin?)) %>
		<%= link_to 'Edit Combo', edit_combo_path(@combo), :class => "btn btn-green mrs" %>
		<%= link_to 'Destroy', @combo, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-blue mrs" %>
	<% end %>
	<p id="notice"><%= notice %></p>
</div>