<header>
	<div class="container">
		<div id="logo">
			<h1><%= link_to "Level App", root_path %></h1>
		</div>
		<div id="nav">
			<ul id="navlist">
				<li><%= link_to "Tricks", tricks_path %></li>
				<li><%= link_to "Combos", combos_path %></li>
				<% if tricker_signed_in? %>
					<!--li><%= link_to "My Account", edit_tricker_registration_path %></li-->
					<li>Logged in as <b><%= current_tricker.name %></b></li>
					<li><%= link_to 'Dashboard', '/dashboard' %></li>
					<li><%= link_to 'Logout', destroy_tricker_session_path, :method => :delete %></li>
				<% else %>
					<li><%= link_to 'Login', new_tricker_session_path %></li>
				<% end %>
			</ul>
		</div>
		<br class="clear"/>
	</div>
</header>