<!DOCTYPE html>
<html>
<head >
  <title>Level App</title>
  <meta name="description" content="Tricking.GR's Level App. Making trickers more creative.">

  <!-- Responsive and mobile friendly stuff -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
